<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI Feedback</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="layout">

        <!-- SIDEBAR -->
        <aside class="sidebar">
            <h2 class="logo">MoodTracker</h2>

            <nav>
                <a href="/dashboard">Dashboard</a>
                <a href="/log_emotion">Log Emotion</a>
                <a href="/mood_calendar">Mood Calendar</a>
                <a href="/mood_statistics">Mood Statistics</a>
                <a href="/ai_feedback">AI Feedback</a>
                <a href="/emotionhistory">Emotion History</a>
                <a href="/logout">Logout</a>
            </nav>
        </aside>

        <div class="main-section">

            <header class="topbar">
                <h1>AI Feedback</h1>
            </header>

        </div>
    </div>

</body>
</html>