<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{{ url_for('static', filename='theme.js') }}"></script>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="auth-body">

    <div class="auth-card">
        <h2>Forgot Password</h2>
        <p>Enter your username or email to continue.</p>

        <form method="POST">
            <label>Username or Email</label>
            <input type="text" name="identity" placeholder="Enter username/email" required>

            <button class="main-btn" type="submit">Next</button>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="popup-msg">
                {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}

            
        </form>

        <p class="Nav-to-welcome">
            <a href="/login"><i class="fas fa-angle-left"></i> Back to login</a>
        </p>
    </div>

</body>
</html>
