<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{{ url_for('static', filename='theme.js') }}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Emotion Log</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="layout">

        <!-- SIDEBAR -->
        <div class="sidebar">
            <div class="logo2"></div>
            
            <nav>
            <ul class="menu">
                <li class="active">
                    <a href="/dashboard" >
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="active">
                    <a href="/log_emotion">
                        <i class="fas fa-pencil-alt"></i>
                        <span>Log Emotion</span>
                    </a>
                </li>
                <li class="active">
                    <a href="/mood_calendar">
                        <i class="far fa-calendar-alt"></i>
                        <span>Mood Calendar</span>
                    </a>
                </li>
                <li class="active">
                    <a href="/mood_statistics">
                        <i class="fas fa-chart-bar"></i>
                        <span>Mood Statistics</span>
                    </a>
                </li>
                </li>
                <li class="active">
                    <a href="/ai_feedback">
                        <i class="fas fa-star"></i>
                        <span>AI Feedback</span>
                    </a>
                </li>
                </li>
                <li class="active">
                    <a href="/emotionhistory">
                        <i class="fas fa-history"></i>
                        <span>Emotion History</span>
                    </a>
                </li>
                <li class="active">
                    <a href="/logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Logout</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" id="theme-toggle" class="theme-btn-sidebar">
                        <i id="theme-icon" class="fas fa-moon"></i>
                        <span>Theme</span>
                    </a>
                </li>
            </ul>
            </nav>
            
        </div>

        <div class="main-section" id="main-scroll">

            <header class="topbar">
                <div class="header-title">
                    <span>MoodTracker</span>
                    <h1>Log Emotion</h1>
                </div>
            </header>
            <h2 class="greeting">How are you feeling right now, {{ session.username }}?</h2>
            <div class="log-emotion-container">
                
                <form method="POST" class="emotion-log-form">
                    <div class="content-logemotion">
                        <div class="log-left">
                            <label for="emotion" class="emotion-label">Select Current Emotion:</label>
                            <div class="emotion-emoji-grid">
                                {%  for emo in emotions %}
                                <label class="emoji-option" >
                                    <input type="radio" name="emotion" value="{{ emo }}" required>
                                    <span class="emojiji">
                                        {% if emo == 'Happy'%}
                                        {{ '😊' }}
                                        {% elif emo == 'Excited'%}
                                        {{ '🤩' }}
                                        {% elif emo == 'Neutral'%}
                                        {{ '😐' }}
                                        {% elif emo == 'Anxious'%}
                                        {{ '😟' }}
                                        {% elif emo == 'Sad'%}
                                        {{ '😥' }}
                                        {% elif emo == 'Angry'%}
                                        {{ '😡' }}
                                        {% elif emo == 'Stressed'%}
                                        {{ '😩' }}
                                        {% endif %}
                                    </span>                                     
                                    <span class="text-emoji">{{ emo }}</span>

                                </label>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="log-right">

                            <label for="note">Optional Note (Reason):</label>
                            <textarea name="note" id="note" rows="3" placeholder="What make you feel this way? (e.g., 'Finished a big project' or 'Worrying about an exam')."></textarea>

                            <!--additional thought field-->
                            <label for="note">Optional Note (Thought):</label>
                            <textarea name="thought" id="thought" rows="3" placeholder="Was there a specific moment or thought?(e.g., 'I felt sad because I had a meeting on my birthday')"></textarea>


                            <button type="submit" class="main-btn">Save Log</button>
                        </div>
                    </div>
                </form> 
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages and show_feedback %}
                        <div class="feedback-box" id="feedback-box">
                            {% for category, message in messages %}
                                <p>{{ message }}</p>
                            {% endfor %}
                            <a href="/ai_feedback" class="ai_detail_link">View Full AI Feedback →</a>
                        </div>
                    {% endif %}
                    {% endwith %}
            </div> 
                    

        </div>
    </div>
                <script>
                    window.addEventListener('load', function() {
                        const feedback = document.getElementById('feedback-box');
                        if (feedback) {
                            feedback.scrollIntoView({ behavior: 'smooth', block: 'center' });
                        }
                    });
                </script>
</body>
</html>