<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In - MoodTracker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<script>
function togglePassword(id) {
  const input = document.getElementById(id);
  input.type = input.type === "password" ? "text" : "password";
}
</script>

<body class="auth-body">
    <div class="nav-header">
        <a href="{{ url_for('home.homepage') }}" class="logo-link">
            <i class="fas fa-heart-pulse logo-icon"></i>
            <span>MoodTracker</span>
        </a>
    </div>

    <div class="auth-card">
        <h2>Welcome Back</h2>

        <form method="POST">
            <label>Username</label>
            <input type="text" name="username" placeholder="Enter your username" required>

            <label >Password</label>
                <div class="password-wrapper">
                    <input type="password" id="password" name="password" placeholder="Enter your password" required>
                    <span class="toggle-eye" onclick="togglePassword('password')">👁</span>
                </div>

            <button class="main-btn" type="submit">Log In</button>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="popup-msg">
                {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}

        </form>

        <p class="switch-auth-login-new">
            <a href="/forgot">Forgot your password?</a>
        </p>

        <p class="switch-auth-login-new">
        New here ? <a href="/register">Create an account</a>
        </p>
    </div>

</body>
</html>
