<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Security Verification</title>
</head>

<body class="auth-body">

    <div class="auth-card">
        <h2>Security Question</h2>

        <form method="POST">
            <label>Question</label>
            <input type="text" value="{{ question }}" readonly>

            <label>Your Answer</label>
            <input type="text" name="security_answer" placeholder="Enter your answer" required>

            <button class="main-btn" type="submit">Verify</button>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="popup-msg">
                {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}

        </form>

        <p class="Nav-to-welcome">
            <a href="/login"><i class="fas fa-angle-left"> </i> Back to login</a>
        </p>
        
    </div>

</body>
</html>
