<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="auth-body">

    <div class="auth-card">
        <h2>Forgot Password</h2>
        <p>Enter your username or email to continue.</p>

        <form method="POST">
            <label>Username or Email</label>
            <input type="text" name="identifier" placeholder="Enter username/email" required>

            <button class="main-btn" type="submit">Next</button>
        </form>

        <p class="switch-auth">
            <a href="/login">Back to login</a>
        </p>
    </div>

</body>
</html>
